.contato {
    padding: 1em;
}

.contato__descricao {
    background-color: var(--branco);
    padding: 1em;
    padding: 1em;
}

.contato__titulo{
    padding-bottom: 1em;
    color: var(--azul);
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-size: 15px;
    font-weight: 300;
    color: var(--azul-fundo);
    margin-bottom: 1em;
}

.contato__email {
    padding: 1em;
    margin: 1em;
    border: 1px solid var(--azul-fundo);
    border-radius: 24px;
    width: 80%;
    color: var(--azul-fundo);
    font-size: 14px;
    font-weight: 400;
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--preto);
    background: url(../imagens/Email.svg) no-repeat;
    padding-left: 3em;
}

@media screen and (min-width: 768px) {
    .contato__descricao {
        margin-top: 2em;
    }

    .contato__titulo{
        font-size: 22px;
        text-align: center;
    }

    .contato__texto {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
    }

    .contato__email {
        height: 50%;
        width: 100%;
        margin: 0;
        font-size: 14px;
        text-align: center;
    }

    .contato__email::placeholder {
       margin: 0 0 0 5em;
    }

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1250px) {

    .contato__email {
        width: 40%;
        margin-bottom: 10px;
    }

    .contato__descricao {
        margin-top: 1em;
    }

    .contato__texto {
        font-size: 15px;
    }
}